@font-face {
    font-family: 'dpcomic';
    src: url('dpcomic/dpcomic.ttf') format("truetype");
}

body, h1, h3 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: no-repeat center;
    background-size: cover;
    background-color: #000;
    font-family: 'dpcomic';
    color: #fff;
}

form, #title, .today, .error {
    text-align: center;
}

form {
    position: relative;
}

ul {
    width: 40.3vw;
    height: fit-content;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding-top: 0.2rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #000;
}

li:last-child {
    border: solid 1px #fff;
    border-radius: 0 0 25px 25px;
}

span {
    margin-right: 1rem;
}

#title {
    margin-top: 25vh;
}

.navigate {
    background-color: rgba(158, 201, 237, 0.935);
}

#search_bar {
    width: 40vw;
    height: 3rem;
    margin: 1rem 0 0 0;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: 'dpcomic';
    font-size: 2rem;
}

#search_list {
    position: absolute;
    z-index: 100;
}

#forecast {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.today, .this_day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background-color: #808080;
    opacity: 0.9;
}

.today {
    width: 50rem;
    height: 20rem;
    margin-bottom: 5rem;
    padding-top: 1.5rem;
    font-size: 1.4em;
}

.this_week {
    display: flex;
    justify-content: space-around;
}

.this_day {
    width: 10rem;
    height: 15rem;
    margin: 0 1rem;
}

.error {
    font-size: 5rem;
    padding-top: 10rem;
}